
  .boiteNouveauBiscuit{
    text-align: center;
    a {
      height: 325px;
      display: block;
      border: 1px solid transparent;
      padding: 8px 4px;
      transition: all 0.3s;
      figcaption {
        border-top: 1px solid $colorPrimary;
        margin: 8px 0 0;
        h3 {
          font-family: $fontSecondary;
          color: $colorPrimary;
          padding: 8px 0; // 8px: en haut et bas, 0: droite et gauche ; Si onmet que 8px: veut dire haut droite bas gauche
        }
        mark {
          background: $colorPrimary;
          color: $colorLight;
          padding: 5px 10px;
        }
        p {
          font-size: .9em;
        }
      }
      &:hover {
        border: 1px solid $colorTertiary;
      }
    }
  }

  .boiteEntreprise {
    a {
      color: $colorLight;
      img{
        transition: all .3s;
        filter: contrast(1);
        &:hover {
          filter: contrast(1.3);
          }
        }
      figcaption {
        div {
          background: url('../media/pastille.png');
          width: 62px;
          height: 62px;
          line-height: 62px;   // ça prend 62x de hauteur
          font-family: $fontSecondary;
          margin: -50px auto 0 auto;  //top left right bottom
          position: relative;
          z-index: 1;  //Pour dire sur quel plan il se met: devant = 1, derrière = 0! Cette propriété peut être utilisé sur plusieurs éléments pour superposé les choses les une sur les autres
        }
        h3 {
          font-family: $fontSecondary;
          height: 36px;
        }
      }
      &:hover {
      h3{
        color: $colorTertiary;
        }
      p{
        color: $colorLight;
        }
      }
    }
  }

  .boiteCatalogue {
    color: $colorLight;
    text-align: center;
    align-self: end; //alligne toi de manière particulière
    figcaption {
      display: flex;
      flex-direction: column;  // changer la direction des axes ==> l'axe principal en flex c'est en colonne donc verticale
      justify-content: center;    //aligne au centre de l'axe principale
      position: relative;
      margin-top: -50px;  //on remonte la marge pour qu'il n'y  pas de blanc entre les images une sur l'autre donc on remonte tout grâce au margin top
      h4{
        font-family: $fontSecondary;
      }
      p{
        padding-top: 0.3em;
      }
    }
    &:hover{
      color: $colorLight;
    }
  }

  .boiteCatalogueSm{
    @extend .boiteCatalogue;
    figcaption{
      width: 140px;
      height: 50px;
      background: url('../media/etiquette-cookie.png') bottom no-repeat;
    }
    &:hover{
      figcaption{
        background: url('../media/etiquette-cookie-2.png') bottom no-repeat;
      }
    }
  }

  .boiteCatalogueXl{
    @extend .boiteCatalogue;
    figcaption{
      width: 300px;
      height: 50px;
      background: url('../media/etiquette-cookie-xl.png') bottom no-repeat;
    }
    &:hover{
      figcaption{
        background: url('../media/etiquette-cookie-xl-2.png') bottom no-repeat;
      }
    }
  }

  .boiteEtiquetteAvantages {
	display: block;
	width: 146px;
	height: 349px;
	background: url('../media/etiquette.png') center no-repeat;
  text-align: center;
	&:hover {
		h4 {
			color: $colorTertiary;
			transition: all .3s;
		}
		figcaption {
			color: $colorTertiary;
			transition: all .3s;
		}
	}
	figure {
		padding: 70px 5px 40px 5px;
		height: 100%;
		position: relative;
	}
	h4 {
		font-family: $fontSecondary;
		color: $colorSecondary;
		text-transform: uppercase;
	}
	img, figcaption {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	img {
		bottom: 110px;
	}

	figcaption {
		color: $colorPrimary;
		text-decoration: underline;
		bottom: 40px;
	}
}

// Boite réseaux sociaux
.boiteReseauSocial {
  display: flex;
  align-items: center;
  min-width: 200px;
  color: $colorLight;
  font-family: $fontSecondary;
  h5 {
    margin-left: 10px;
  }
  &:hover {
    color: $colorLight;
    background: $colorTertiary !important;  // Si on a des propriétés qui doivent en écraser d'autres, on peut mettre importaant à coté de la propriété. Pratique quand il y a des propriétés déja déclarés
  }
}

#boiteFacebook {
  background: $colorFacebook;
}

#boiteTwitter {
  background: $colorTwitter;
}

// boite adresse
address{
  background: $colorLight;
  padding: 70px 1em 20px;
  text-align: center;
  box-shadow: 0px 4px 3px  $colorDark;
  p{
    font-family: $fontSecondary;
    color: $colorSecondary;
    text-transform: uppercase;
    line-height: 3em;
  }
  li{
    padding: 5px;
    &:last-child{
      padding-top: 20px;
      font-weight: bolder;
      text-decoration: underline;
    }
  }
}

address, address a {
  color: $colorSecondary;
}
