
  .btn-arrow{
    display: block;    //Pour gérer la taille
    width: 246px;
    height: 47px;
    background: url('../media/btn-fleche.png');
    color: $colorLight;
    font-family: $fontSecondary;
    text-align: center;
    line-height: 43px;   //Pour définir la hauteur de la ligne de texte: la hauteur de la ligne doit être égale de la ligne de la boîte
    &:hover {
      color: $colorLight;
      background: url('../media/btn-fleche-2.png');
    }
  }
