
.triangle {
  height: 0;
  width: 0;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  margin: 0 auto;
}

// Tu reprend toutes les instruction du triangle pour triangle-light et tu change juste la couleur
.triangle-light {
  @extend .triangle;    // C'est un instruction qui permet de, pour le triangle blanc, recupérer toute les instruction qui sont dans le traingle et l'ajouter à toute les propriétés que j'ai mis endessous
  border-top: 50px solid $colorLight;
}

.triangle-primary {
  @extend .triangle;
  border-top: 50px solid $colorPrimary;
}
