@font-face {                  // Pour définir la police
  font-family: 'Overlock';   //Pour définit le nom de la police
  //Indiquer le chemin de la police de caractère, on prend le format ''woff2' car c'est le plus moderne et ensuite On met aussi l'ancien format pour les anciens navigateurs
  src: url('../polices/overlock.woff2') format('woff2'),
       url('../polices/overlock.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fredoka';
  src: url('../polices/fredoka.woff2') format('woff2'),
       url('../polices/fredoka.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cookie' ;
  src: url('../polices/cookie.woff2') format('woff2'),
       url('../polices/cookie.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
