@media screen and (min-width: 0) {
  .d-sd-none {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .d-md-none {
    display: unset;
  }
}
  .d-none{
    display: none;
  }

// Rendre une image responsive ==> Img qui se trouve dans la figure doit être plus petite quand je suis en mode tablette
// ATTENTION ce n'est pas une classe qu'on met sur la balise img mais c'est pour la balise parent de l'img
.img-resp {
  img {
    width: 100%;  //largeur est de 100%
    height: auto;
  }
}
