
  // ----- Couleurs -----
  $colorPrimary: #e84743; //rouge
  $colorSecondary: #29888c; //turquoise
  $colorTertiary: #eea914; // jaune
  $colorDark : #69696c; // gris foncé
  $colorLight: #fff; // blanc
  $colorFacebook: #3b5999; // Facebook
  $colorTwitter: #00acee; // Twitter

  // ----- Typographies -----
  $fontPrimary: 'Overlock';
  $fontSecondary: 'Fredoka';
  $fontTertiary: 'Cookie';
