@import 'polices';
@import 'variables';
@import 'grid';
@import 'boites';
@import 'bouttons';
@import 'utilitaires';
@import 'formes';

// ----- GENERAL & DIVERS -----
*{
  box-sizing: border-box; //Pour tous les éléments html, c'est pour que les boites soient dimensionné par rapport aux bordures de la boite
}

a{
  font-family: $fontPrimary;
  color: $colorDark;
  text-decoration: none;
  &:hover{
    color: $colorPrimary;
  }
}

body{
  font-family: $fontPrimary;
  color: $colorDark;
}

p {
  padding: 1.2em 0 0;
}

// ----- Navigation connexion / panier -----
#navPanier{
  text-align: right;
  li, figure{
    display: inline-block;
  }
}

// ----- Fond du Header -----
.background-store-header{
  background: url('../media/store-footer.png') center;
  height: 920px;
  @media (min-width: 768px) {
    height: 520px;
  }
  @media (min-width: 992px){
    background: url('../media/store-3d.png') center repeat-x;
    height: 634px;
  }
}

// ----- Header -----
#hero{
//height: 634px;
  position: relative; // poisition acutelle dans le html ==> j'ai accès au paramètres de position: top, lef, right, bottom
  top: 20px  //pour faire déscendre le header de 20px pour pas qu'il soit coller audessus
}

// ----- Logo Hero -----
#logoHero{
  position: absolute;    //je positionne en absolue par rapport a un parent relatif
  left: calc(50% - (206px/2)); //50% moins la moitié du logo
  top: 40px;
  @media (min-width: 768px) {
    top: -10px;  //pour le faire remonté car j'ai descendu le header et vu qu'il est en absolute je peux le remonter et je peux avoir une marge négative
    }
  }

// ----- Navigation principale -----
#navPrincipale {
  background: $colorLight;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 0px 4px 3px $colorDark;
  ul{
    display: flex; //Tous les li deviennent des enfants direct de flex ==> ils deviennent flexible et si on declare rien par défaut la direction devient horizontale
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }
    justify-content: space-between; //gerer l'allignement par rapport à l'axe horizontale, le space between = en fonction de l'espace entre les éléments
    align-items: center;
    text-align: center;
    li{
      &:first-child {
        margin-top: 140px;
        @media (min-width: 768px) {
          margin-top: 0;
        }
      }
      @media (min-width: 768px) {
        &:nth-child(4) {
          margin-left: 204px; // 204px = largeur du logo
        }
      }
      a {
        display: block;  //pour prendre le padding de 10px partout
        font-family: $fontSecondary;
        color: $colorSecondary; // = bleu
        padding: 10px; // pour écarter
        font-size: 0.9em;
        line-height: 1.2em;
        @media (min-width: 992px) {
          font-size: 1em;
        }
        &:hover{
          color: $colorPrimary;
        }
      }
    }
  }
}

// ----- Section slideshow -----
#slideshowHero {
  //Pour faire apparaitre la planche dans un écran large mais pas sur un écran d'une tablette:
  @media (min-width: 992px) {
    background: url('../media/planche.png') bottom center no-repeat;
    height: 580px;
  }
  height: 580px;
  .slide{
    position: relative;
    @media (min-width: 768px) {
      top: 40px;
    }
    @media (min-width: 992px) {
      top: 60px;
    }
    > figure {
      position: relative;
      text-align: center;
      @media (min-width: 768px) {
        top: 84px;
        text-align: right;
      }
      img {
        max-width: 340px;
      }
    }
    article{
      position: relative;
      text-align: center;
      @media (min-width: 768px) {
        text-align: left;
      }
      h2 {
        font-family: $fontSecondary;
        color: $colorPrimary;
        text-transform: uppercase;
        font-size: 3em;
        @media (min-width: 992px) {
          font-size: 4em;
        }
      }
      h3 {
        font-family: $fontTertiary;
        color: $colorTertiary;
        font-size: 2.5em;
        @media (min-width: 992px) {
          font-size: 3em;
        }
      }
      p {
        margin-bottom: 20px;
        @media (min-width: 768px) {
          margin-bottom: auto;
        }
      }
      figure {
        display: none;
        @media (min-width: 768px) {
          display: block;
          position: relative;
          top: 10px;
          @media (min-width: 992px) {
            top: 36px;
          }
          figcaption {
            position: absolute;  //Permet de positionner par rapport au parent relatif
            top: 10px;
            a {
              display: inline-block;
              background: $colorLight;
              padding: 8px 14px;
              color: $colorSecondary;
              font-family: $fontSecondary;
              text-align: center;
              box-shadow: 1px 2px 3px  $colorDark;
              border-radius: 4px;
              &:hover {
                background: $colorTertiary;
                color: $colorLight;
              }
              &:last-child {
                margin-left: 10px;
              }
            }
          }
        }
      }
      > a {    //Bouton
        @media (min-width: 768px) {
          position: absolute;
          top: 180px;
          @media (min-width: 992px) {
            top: 210px;
          }
          left: 180px;
        }
      }
    }
  }
}

// ----- Section nouveaux biscuits -----
#nouveauxBiscuits{
  margin-bottom: 20px;
  > h2 {
  font-family: $fontSecondary;
  color: $colorPrimary;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0 0;  //top right bottom left
  @media (min-width: 992px) {
    background: url('../media/double-ligne-noire.png') left 50px top 50% no-repeat,
                url('../media/double-ligne-noire.png') right 50px top 50% no-repeat;
  }
  }
}

// ----- Section présentation de l'entreprise -----
.background-color-primary {
  background: $colorPrimary;
}

#entreprise {
  text-align: center;
  color: $colorLight;
  margin-top: 20px;
  padding-bottom: 50px;
  > h2 {
    font-family: $fontSecondary;
    color: $colorLight;
    span {
      color: $colorTertiary;
      text-transform: uppercase;
    }
  }
}

#catalogueAvantages {
	text-align: center;
  padding-bottom: 120px;
}

#catalogue {
	> h3 {
		font-family: $fontSecondary;
		color: $colorPrimary;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
}

#avantages {
  margin-top: 40px;
  @media (min-width: 992px ) {
    margin-top: 0;
  }
	> h3 {
		color: $colorTertiary;
		font-family: $fontTertiary;
		font-size: 1.7em;
		background: url('../media/double-ligne-jaune.png') left no-repeat, url('../media/double-ligne-jaune.png') right no-repeat;
	}
  .grid {
    justify-items: center;
    @media (min-width: 992px) {
      justify-items: stretch;
    }
  }
}

// Footer
.texture-bois {
  background: url('../media/texture-bois.png') repeat-x;
  height: 30px;
}
.background-store-2d {
  background: url('../media/store-footer.png') center repeat-x; //Pour qu'il se répéte horizontalement => repeat-x et center pour dire qu'il part du centre
  height: 293px;
}

#footer {
  position: relative;
}

#logoFooter {
  position: absolute;
  top: -60px;
  left: calc(50% - (206px/2)); //50% moins la moitié du logo;
}
